@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Binggrae', sans-serif;
    text-align: center;
    margin: 0%;
    background-color: #00008B;
    color: #00D9ED;
    font-size: 20pt;
}

h1, h2, h3{
    font-family: 'Binggrae-Bold', sans-serif;
    text-align: center;
    margin: 30px;
    display: inline;
}

h1 {
    font-size: 65pt;
}

h2 {
    font-size: 50pt;
}

h3 {
    font-size: 25pt;
}

a {
    text-decoration: none;
}

table {
    border: 0px;
}

th {
    padding: 0;
    margin: 10px;
}

#wrapper {
    min-height: 100%;
}

img {
    vertical-align: middle;
}

#container {
    vertical-align: middle;
    text-align: center;
}

p {
    display: inline;
}