@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Binggrae', sans-serif;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Binggrae-Bold', sans-serif;
    text-align: center;
}

h1 {
    font-size: 60pt;
}

h2 {
    font-size: 50pt
}

h3 {
    font-size: 35pt
}

a{
    text-decoration: none;
}
